<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <instrumentation android:name="dev.mediasearch.RuntimeProbe" android:targetPackage="dev.mediasearch" android:label="MediaSearch runtime probe" />
    <instrumentation android:name="dev.mediasearch.ParityProbe" android:targetPackage="dev.mediasearch" android:label="OpenScope parity probe" />
</manifest>
